@use "../../variables" as *;

.card {
  width: auto;

  .card-top {
    position: relative;
    overflow: hidden;

    .card-title {
      position: absolute;
      top: 0px;
      left: 0px;
      font-size: $fontsize-l;
      font-weight: 700;
      color: $orange_bistre;
      background-color: $white;
      width: 150px;
      height: 150px;
      padding: 0px 0px 0px 6px;
      margin: 0px;
      clip-path: polygon(0 0, 100% 0, 0 100%);
      z-index: 1;
    }

    img {
      transition: 0.5s ease;

      &:hover {
        transform: scale(1.2);
        @media (max-width: $breakpoint-md) {
          transform: none;
        }
      }
    }
  }

  .card-body {
    background-color: $white_smoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 35px;

    .card-text {
      font-family: $fontfamily-gothic;
      font-size: $fontsize-s;
      line-height: 33px;
      margin: 0px 0px 30px;
    }
  }
}
