<footer>
  <div class="footer-contact">
    <img
      src="../../../img/footer.png"
      alt="footer-logo"
      class="footer-contact-logo"
      width="150"
    />
    <div class="footer-contact-address">
      〒532-0011　大阪市淀川区西中島6丁目8-23テスト<br />TEL.06-1234-5678
      FAX.06-1234-5678　営業時間/9:00-22:00　定休日/不定休
    </div>
    <div class="footer-contact-icon">
      <div class="footer-contact-icon-item">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
      </div>
      <div class="footer-contact-icon-item">
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="footer-contact-icon-item">
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
      <div class="footer-contact-icon-item">
        <a href="#"><i class="fas fa-rss"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-nav">
    <div class="footer-nav-list">
      <div class="footer-nav-list-item"><a href="#">HOME</a></div>
      <div class="footer-nav-list-item"><a href="#">CONCEPT</a></div>
      <div class="footer-nav-list-item"><a href="#">SERVICE</a></div>
      <div class="footer-nav-list-item"><a href="#">FLOOR</a></div>
      <div class="footer-nav-list-item"><a href="#">INTERVIEW</a></div>
      <div class="footer-nav-list-item"><a href="#">BLOG</a></div>
      <div class="footer-nav-list-item"><a href="#">ACCESS</a></div>
      <div class="footer-nav-list-item"><a href="#">DOWNLOAD</a></div>
    </div>
  </div>
  <div class="footer-copyright">
    <p class="footer-copyright-text">
      Copyright©WordPressテーマ「Switch(tcd063)」 All Rights Reserved.
    </p>
  </div>
</footer>
