@use "../../variables" as *;

.atoms-button {
  width: 180px;
  height: 45px;
  color: $white;
  background-color: $black;
  position: absolute;
  font-family: $fontfamily-gothic;
  font-style: normal;
  font-weight: 400;
  font-size: $fontsize-s;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;

  @media (min-width: $breakpoint-sm) {
    width: 180px;
    height: 45px;
  }

  @media (min-width: $breakpoint-md) {
    width: 150px;
    height: 55px;
  }

  @media (min-width: $breakpoint-lg) {
    width: 200px;
    height: 55px;
  }
}

.atoms-button:hover {
  color: $white;
  background-color: $orange_bistre;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
