@use "../../variables" as *;

.plans {
  margin: 0px;
  padding: 0px 0px 100px 0px;

  @media (max-width: $breakpoint-md) {
    padding: 0px 0px 40px 0px;
  }
  .message {
    padding-top: 0px;

    .title {
      color: $orange_bistre;
    }
  }
  .plan {
    max-width: 960px;
    margin: 0px auto 40px auto;

    @media (max-width: $breakpoint-md) {
      max-width: 540px;
      margin-bottom: 0px auto;
    }
  }
  .atoms-button {
    margin: 0px auto;
  }
}
