@use "../../variables" as *;

.news-and-events {
  background-color: $white_smoke;
  margin: 0px;

  .container {
    margin: 0px auto;
    padding: 56px 16px;
    @media (min-width: $breakpoint-lg) {
      max-width: 960px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      box-sizing: content-box;

      .events,
      .news {
        max-width: 460px;
      }
    }
  }
}
